body {
    font-family: Arial, sans-serif;
    background-color: rgba(13, 187, 13, 0);
}

h1 {
    text-align: center;
    background-color: rgba(150, 64, 71, 0.356);
    box-shadow: #71f704;
}

#todoInput {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    background-color: rgba(132, 165, 125, 0.356);
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: rgba(200, 147, 207, 0.356);
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: rgba(177, 206, 139, 0.356);
    border-color: black;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	
    padding-bottom: 12px;
    margin: 10px auto;
    width: 80%;
    padding-right: 12px;
    padding-left: 12px;
    padding-block: 12px;
    padding-inline: 12px;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}
